<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diy.mapper.SetmealMapper">

    <insert id="add" useGeneratedKeys="true" keyProperty="id" >
        insert into setmeal(id,category_id, name, price, description,
                            image, create_time, update_time,
                            create_user, update_user,status)
        values (#{id},#{categoryId}, #{name}, #{price}, #{description},
                #{image}, #{createTime}, #{updateTime}, #{createUser},
                #{updateUser},'0')
    </insert>
    <select id="getMealList" resultType="com.diy.vo.SetmealVO">
        select * from setmeal
        <where>
            <if test="categoryId!=null">and category_id=#{categoryId}</if>
            <if test="name!=null">and name like concat('%',#{name},'%')</if>
            <if test="status!=null">and status=#{status}</if>
        </where>
    </select>
    <select id="getStatusById" resultType="java.lang.Integer">
        select status from setmeal where id=#{id}
    </select>

    <delete id="deleteById">
        delete from setmeal <where>
        <foreach collection="ids" item="id" separator=",">
            id=#{id}
        </foreach>
    </where>
    </delete>

    <update id="updateStatus">
        update setmeal set status=#{status},update_time=now() where id=#{id}
        </update>
    <select id="getMealById" resultType="com.diy.vo.SetmealVO">
        select * from setmeal where id=#{id}
    </select>
    <update id="update">
update setmeal set name=#{name},price=#{price},description=#{description},update_time=now()
    </update>

    <select id="list" parameterType="Setmeal" resultType="Setmeal">
        select * from setmeal
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from setmeal
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
</mapper>
