<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diy.mapper.SetmealDishMapper">
    <select id="getSetmealDishIds" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in
        <foreach collection="Ids" item="dishid" separator="," open="(" close=")">
            #{dishid}
        </foreach>
    </select>

    <insert id="SetDish">
        insert into setmeal_dish(setmeal_id, dish_id, name, price, copies) values
        <foreach collection="mealDishes" item="mealdish" separator=",">
            (#{mealdish.setmealId},#{mealdish.dishId},#{mealdish.name},#{mealdish.price},#{mealdish.copies})
        </foreach>
    </insert>
    <insert id="insert">
        insert into setmeal_dish(setmeal_id, dish_id, name, price, copies) values
        <foreach collection="setmealDishes" item="mealdish" separator=",">
            (#{mealdish.setmealId},#{mealdish.dishId},#{mealdish.name},#{mealdish.price},#{mealdish.copies})
        </foreach>
    </insert>
    <delete id="deleteDishById">
        delete from setmeal_dish <where>
        <foreach collection="ids" item="mealId" separator=",">
        setmeal_id=#{mealId}
        </foreach>
    </where>
    </delete>
    <delete id="deleteOriginDishById">
        delete from setmeal_dish
        where setmeal_id=#{id}
    </delete>

    <select id="getDishesById" resultType="com.diy.entity.SetmealDish">
        select * from setmeal_dish where setmeal_id=#{id}
    </select>

</mapper>
