<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voting.mapper.EmployeeMapper">
    <update id="update" parameterType="Employee">
        update sys_user
        <set>
            <if test="name!=null">real_name=#{name},</if>
            <if test="username!=null">username=#{username},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="status!=null">status=#{status},</if>
        </set>
        where id=#{id}
    </update>
    <select id="pageQuery" resultType="com.voting.entity.Employee">
        select id, username, real_name as name, password, phone, status, create_time from sys_user
        <where>
            <if test="name!=null and name!=''">
                and real_name like concat('%',#{name},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
