<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voting.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(openid, name, phone, sex, id_number, avatar, user_type, status, create_time)
        VALUES (#{openid}, #{name}, #{phone}, #{sex}, #{idNumber}, #{avatar}, #{userType}, #{status}, #{createTime})
    </insert>
    
    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from sys_user
        <where>
            <!-- 只统计微信用户 -->
            user_type = 2
            <if test="begin!=null">
                and create_time &gt;#{begin}
            </if>
            <if test="end!=null">
                and create_time &lt;#{end}
            </if>
        </where>
    </select>
</mapper>
