<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.voting.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            openid, name, user_type, status, create_time,
            <if test="phone != null">phone,</if>
            <if test="sex != null">sex,</if>
            <if test="idNumber != null">id_number,</if>
            <if test="avatar != null">avatar,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{openid}, #{name}, #{userType}, #{status}, #{createTime},
            <if test="phone != null">#{phone},</if>
            <if test="sex != null">#{sex},</if>
            <if test="idNumber != null">#{idNumber},</if>
            <if test="avatar != null">#{avatar},</if>
        </trim>
    </insert>
    
    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from sys_user
        <where>
            <!-- 只统计微信用户 -->
            user_type = 2
            <if test="begin!=null">
                and create_time &gt;#{begin}
            </if>
            <if test="end!=null">
                and create_time &lt;#{end}
            </if>
        </where>
    </select>
</mapper>
